@charset "UTF-8";
@use "../../foundation/mixin";
.section-title {
    font-size: 25px;
    color: #0A1D35;
    font-family: 'Noto Serif JP', serif;
    @include mixin.tab {
        font-size: 30px;
    }
    @include mixin.sub {
        font-size: 34px;
    }
}
.section-title__sub {
    font-size: 13px;
    margin-bottom: 45px;
    font-family: 'Noto Serif JP', serif;
    @include mixin.tab {
        font-size: 14px;
    }
    @include mixin.sub {
        font-size: 16px;
    }
}