@charset "UTF-8";
@use "../../foundation/mixin";
.p-header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    @include mixin.sub {
        padding: 0 110px;
        position: inherit;
    }
    @include mixin.pc {
        max-width: 1220px;
        margin: 0 auto;
        position: inherit;
        padding: inherit;
    }
    .p-header__title {
        font-size: 14px;
        margin-left: 20px;
        font-family: 'Henny Penny', cursive;
        font-weight: normal;
        white-space: nowrap;
        @include mixin.tab {
            margin-left: 50px;
        }
        @include mixin.sub {
            font-size: 16px;
            margin-left: inherit;
        }
        @include mixin.pc {
            margin-left: 0;
        }
    }
    &__nav {
        display: none;
        width: 100%;
        position: absolute;
        top: 42px;
        left: 0;
        z-index: 10;
        background-color: #F6F6F6;
        text-align: center;
        @include mixin.sub {
            display: none !important;
            // display: flex;
            // justify-content: right;
            // position: inherit;
        }
        &-box {
            padding: 50px 0 30px;
            @include mixin.sub {
                display: flex;
                align-items: center;
                height: 100%;
                padding: inherit;
            }
            .p-header__nav-list {
                margin-bottom: 20px;
                @include mixin.sub {
                    margin-bottom: inherit;
                    margin-left: 45px;
                }
            }
            .p-header__contact-list {
                a {
                    border-radius: 2px;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
                    background: #C5AA40;
                    color: #FEFEFE;
                    display: inline-block;
                    padding: 8px 34px;
                    transition: 0.5s all;
                }
                a:hover {
                    opacity: 0.8;
                }
            }
        }
    }
    .p-header__nav-pc {
        display: none;
        @include mixin.sub {
            display: block;
        }
    }
}
.btn {
    @include mixin.sub {
        display: none;
    }
}
