@charset "UTF-8";
@use "../../foundation/mixin";
.p-main {
    width: 100%;
    background-image: url(/images/背景写真.png);
    height: 405px;
    width: 100%;
    background-size: cover;
    background-position: center;
    @include mixin.tab {
        height: 500px;
    }
    @include mixin.sub {
        height: 553px;
        margin-bottom: 157px;
    }
    &__mask {
        background: linear-gradient(90deg, rgba(49, 96, 130, 0.639) 0%, rgba(61, 113, 144, 0.639) 100%);
        height: 100%;
        width: 100%;
    }
    &__top-visual {
        height: 100%;
        width: 100%;
        padding: 0 20px;
        position: absolute;
        top: 0;
        @include mixin.tab {
            padding: 0 50px;
            margin-bottom: 95px;
        }
        @include mixin.sub {
            margin: 0 auto 89px;
            padding: 0 110px;
            position: relative;
            top: -553px;
        }
        @include mixin.pc {
            max-width: 1220px;
            margin: 0 auto;
            padding: 0;
            position: relative;
            top: -553px;
        }
        &-top-img {
            background-image: url(/images/写真.png);
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 439px;
            margin-top: 83px;
            @include mixin.tab {
                background-image: url(/images/pc-top-img.png);
                margin: 100px auto 0;
                height: 540px;
            }
            @include mixin.sub {
                height: 642px;
                margin: 68px auto 0;
            }
        }
        // &-top-img {
        //     object-fit: cover;
        //     width: 100%;
        //     height: 439px;
        //     margin: 83px auto 0;
        //     @include mixin.tab {
        //         margin: 100px auto 0;
        //         height: 540px;
        //     }
        //     @include mixin.sub {
        //         display: none;
        //     }
        // }
        // .p-main__top-visual-top-pc-img {
        //     display: none;
        //     @include mixin.sub {
        //         display: block;
        //         height: 642px;
        //         width: 100%;
        //         object-fit: cover;
        //         margin: 68px auto 0;
        //     }
        // }
        .p-main__top-visual-title {
            display: none;
            font-size: 20px;
            font-weight: normal;
            writing-mode: vertical-rl;
            letter-spacing: 0.155em;
            // position: absolute;
            // top: 168px;
            padding-left: 60px;
            font-family: "Hiragino Mincho ProN";
            height: 90%;
            padding-top: 81px;
            @include mixin.tab {
                font-size: 26px;
                padding-left: 110px;
                height: 90%;
            }
            @include mixin.sub {
                font-size: 30px;
                height: 80%;
                // top: 150px;
                padding-left: 200px;
            }
            @include mixin.pc {
                height: 90%;
                padding-left: 300px;
                // top: 115px;
            }
        }
    }
}