@charset "UTF-8";
@use "../../foundation/mixin";
.p-main__news {
    width: 100%;
    &-sub {
        width: 100%;
        padding: 0 20px;
        text-align: center;
        margin-top: 55px;
        @include mixin.tab {
            padding: 0 50px;
        }
        @include mixin.sub {
            padding: 0 110px;
        }
        @include mixin.pc {
            max-width: 1440px;
            margin: 55px auto 0;
        }
        .p-main__news-box {
            text-align: left;
            border-bottom: 1px solid #212121;
            margin-bottom: 10px;
            @include mixin.mid {
                display: flex;
            }
            .p-main__news-block {
                display: flex;
                align-items: center;
                @include mixin.tab {
                    margin-left: 80px;
                }
                @include mixin.mid {
                    width: 240px;
                    margin-left: 50px;
                }
                @include mixin.sub {
                    margin-left: 100px;
                }
                .p-main__news-time {
                    font-size: 14px;
                    color:#486A9C;
                    letter-spacing: 0.02em;
                    margin: 2px 28px 0 0;
                }
                .p-main__news-tag {
                    font-size: 12px;
                    letter-spacing: 0.02em;
                    color:#486A9C;
                    border: 1px solid #486A9C;
                    height: 25px;
                    display: flex;
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    width: 110px;
                }
            }
            .p-main__news-text {
                font-size: 14px;
                margin: 10px 0 0;
                // border-bottom: 1px solid #212121;
                padding-bottom: 5px;
                @include mixin.tab {
                    margin-left: 80px;
                }
                @include mixin.sub {
                    font-size: 16px;
                }
            }
        }
        .p-main__news-detail {
            width: 100%;
            height: 55px;
            padding: 0 174px 0 80px;
            background: linear-gradient(90deg, #325B83 0%, #008B8B 50%, #3D7D90 100%);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
            border-radius: 2px;
            color: #FFFFFF;
            display: inline-block;
            margin-bottom: 55px;
            margin-top: 35px;
            line-height: 55px;
            white-space: nowrap;
            position: relative;
            transition: all 0.5s ease-out;
            background-position: 1% 50%;
            background-size: 200% auto;
            @include mixin.tab {
                width: 60%;
            }
            @include mixin.sub {
                width: 37%;
            }
        }
        .p-main__news-detail:hover {
            background-position: 99% 50%;
        }
        .p-main__news-detail::after {
            content: "";
            position: absolute;
            display: inline-block;
            top: 22px;
            width: 44px;
            height: 7px;
            border-bottom: 1.5px solid #FFFFFF;
            border-right: 1.5px solid #FFFFFF;
            transform: skew(45deg);
            margin-left: 30px;
        }
    }
}
